body {
  background-image: url("/assets/palms.png");
  background-size: cover;
  background-position: center;
  width: 99vw;
  height: 95vh;
  overflow-x: hidden;
  box-sizing: border-box;
}
header {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 14rem;
  width: 15rem;
  background-image: url(/assets/gtaLogoCircleGradientNew.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  transition: 0.5s;
  padding: 0 auto;
}
.logo:active {
  height: 20rem;
  width: 24rem;
}
#flex-container-page {
  display: flex;
  gap: 0.5rem;
  /* height: 80%; */
  justify-content: center;
}
main {
  width: 90%;
  flex-basis: auto;
}
.hidden {
  display: none;
}
.flex-container {
  display: flex;
}
.intro {
  width: 99vw;
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg,rgb(85,141,199) 0%, rgb(119,76,133) 60%);
  text-align: center;
  justify-content: center;
}
#intro-button-container {
  display: flex;
  justify-content: center;
  width: 99vw;
  align-items: center;

}
.intro-buttons {
  font-size: 1.1rem;
  background: linear-gradient(45deg,rgba(117, 251, 204, 1) 0%, rgba(94,204,215,1) 100%);
  border-radius: 20%;
  padding: 0.5rem;
  margin: 3rem 1rem 3rem 3rem;
  max-width: 10rem;
}
#intro-button-1 {
  align-self: center;
}
#intro-pop-container {
  width: 99vw;
  align-self: center;
}
.intro-text {
  font-family: "IBM Plex Mono", monospace;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  animation: tracking-in-expand 0.8s ease-in-out both;
  -webkit-animation: tracking-in-expand 0.8s ease-in-out both;
  line-height: 1;
}
/* ================ */
/* GRAPHICS SECTION */
#graphics {
  width: 100%;
  margin: 0.1rem 0;
}
.progress-container {
  background-image: url("/assets/roadProgress.png");
  background-position: bottom;
  background-size: contain;
  z-index: 2;
}
.car-images {
  width: 112px;
  height: 72px;
}
.move-animation-fast {
  animation: move-right 5s linear both;
  -webkit-animation: move-right 5s linear both;
}
#quote-container {
  background-color: rgb(253, 244, 220);
  width: 100%;
  height: 16%;
  border-radius: 5%;
  align-items: center;
  display: flex;
  user-select: none;
}
#quote {
  font-weight: 400;
  text-align: justify;
  margin: 5% 5%;
  font-size: 1.25rem;
}
.correct-character {
  background-color: rgba(54, 125, 54, 0.2);
}
.incorrect-character {
  background-color: rgba(246, 114, 128, 0.4);
  text-decoration: underline rgba(246, 114, 128, 1);
}
#input-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.5rem;
  outline: none;
}
.time-container {
  display: flex;
  flex-flow: row nowrap;
  font-family: "Caprasimo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  justify-content: space-between;
  align-items: center;
}
label {
  font-family: "Caprasimo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 1.1rem;
  width: 17rem;
  text-align: center;
  background: linear-gradient(90deg,rgb(85,141,199) 0%, rgb(119,76,133) 60%)
}
#next-button {
  font-size: 1.4rem;
  border-radius: 20%;
  width: 12rem;
  height: 5rem;
  background-color: rgba(116, 248, 201, 1);
  font-family: "Caprasimo", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#time-remaining {
  font-size: 1rem;
  font-family: "IBM Plex Mono", "Courier New", Courier, monospace;
  color: ghostwhite;
}
.shaped-time {
  height: 3rem;
  width: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 30%;
  background: linear-gradient(90deg,rgba(176,51,110,1) 0%, rgba(209,89,90,1) 100%);
  text-align: center;
}
textarea {
  resize: none;
}
.text-input {
  width: 100%;
  font-size: 1rem;
}
.text-input:focus {
  font-size: 1.1rem;
}
.super-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.current-container {
  background: linear-gradient(90deg, rgb(232,117,79,1) 0%, rgb(235	197	97) 100%);
  border-radius: 10%;
  width: 12rem;
  padding: 0 1.5rem;
  height: 2.6rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-family: "Caprasimo", Monaco, sans-serif;
  font-size: 1rem;
}
.statblock {
  display: flex;
  /* flex-basis: content; */
  flex-flow: row wrap;
  padding: 0 2rem;
  gap: 1rem;
  width: 80%;
  border-radius: 20rem;
  background: linear-gradient(0deg, rgba(115, 61, 161, 1) 0%, rgba(157, 43, 142, 1) 100%);
  border-radius: 0.5rem;
  margin: 0.5rem;
  text-align: center;
  font-family: "Caprasimo", "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-around;
  color: ghostwhite;
}
.stat-inject {
  color: whitesmoke;
  background-color: rgba(243, 93, 29, 0.5);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
}
.user-stats {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user-stats li {
  padding: auto;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}
#user-vehicle {
  max-width: 250px;
  max-height: 225px;
  transition: scale 1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}
#user-vehicle:hover {
  scale: 1.8;
}
.wasted-div {
  width: 100%;
  height: 30rem;
  background-image: url("/assets/wastedPic.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.busted-div {
  width: 100%;
  height: 30rem;
  background-image: url("/assets/bustedScreenPic.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.success-div {
  width: 100%;
  height: 30rem;
  background-image: url("/assets/successScreen.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-device-width: 377px) and (max-device-width: 602px) {
  header {
    width: 100%;
    height: 8rem;
  }
  .logo {
    background-image: url("/assets/gtaLogoGradientNewSmaller.png");
    background-size: 8rem;
    height: 7rem;
  }
  .logo:active {
    background-size: 7rem;
    height: 7rem;
    margin-top: 0;
  }
  #flex-container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 85%; */
  }
  .intro {
    display: auto;
  }

  #quote-container {
    width: auto;
    height: auto;
  }
  #quote {
    font-size: 0.5rem;
  }
  .text-input {
    font-size: 0.6rem;
  }
  .text-input:focus {
    font-size: 0.8rem;
  }
  label, .restart-button {
    display: none;
  }
  #time-remaining {
    font-size: 0.6rem;
  }
  #input-field {
    height: 2.5rem;
    width: auto;
  }
  .super-container {
    display: flex;
    justify-content: center;
  }
  .time-container {
    font-size: 0.6rem;
    width: auto;
  }
  .shaped-time {
    height: auto;
    width: auto;
  }
  #next-button {
    font-size: 0.5rem;
  }
  .current-container {
    font-size: 0.5rem;
    text-align: center;
    width: 80vw;
    padding: 0;
    border-radius: 0;
    height: auto;
  }
  .statblock {
    margin: 2rem auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 0.2rem;
    font-size: 0.6rem;
  }
  .user-stats {
    padding: 0.2rem;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.7rem;
  }
  .stat-inject {
    font-size: 0.6rem;
  }
  #user-vehicle {
    max-width: 125px;
    max-height: 125px;
  }
  .car-images {
    width: 45px;
    height: 30px;
    animation: mobile-move-right 30s linear both;
  }
  .progress-container {
    width: auto;
  }
}

@media only screen and (min-device-width: 250px) and (max-device-width: 376px) {
  header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    background-image: url("/assets/gtaLogoGradientNewSmaller.png");
    background-size: 5rem;
    margin-top: 1rem;
    height: 4rem;
  }
  .logo:active {
    background-size: 7rem;
    height: 7rem;
  }
  #flex-container-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  main {
    width: 80vw;
  }
  .progress-container {
    width: 80vw;
  }
  #quote-container {
    height: 10vh;
    width: 80vw;
  }
  #quote {
    font-size: 0.5rem;
  }
  .text-input {
    font-size: 0.6rem;
  }
  .text-input:focus {
    font-size: 0.8rem;
  }
  label {
    display: none;
  }
  #time-remaining {
    font-size: 0.6rem;
  }
  #input-field {
    height: 2.5rem;
    width: 80vw;
  }
  .super-container {
    width: 80vw;
  }
  .time-container {
    font-size: 0.6rem;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .shaped-time {
    height: 0.8rem;
    width: fit-content;
  }
  .restart-button,
  #next-button {
    font-size: 0.5rem;
  }
  .current-container {
    font-size: 0.5rem;
    height: 1.5rem;
    padding: 0.1rem 0.5rem;
    margin-top: 0.5rem;
    width: 3rem;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: center;
  }
  .statblock {
    margin: 1rem auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 0.2rem;
    font-size: 0.5rem;
  }
  .user-stats {
    padding: 0.4rem;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.5rem;
  }
  .stat-inject {
    font-size: 0.5rem;
  }
  #user-vehicle {
    max-width: 100px;
    max-height: 100px;
  }
  label {
    font-size: 0.7rem;
  }
  .restart-button {
    display: none;
  }
  .car-images {
    width: 56px;
    height: 36px;
    animation: mobile-move-right 30s linear both;
  }
  .progress-container {
    margin-top: 0rem;
  }
}

/* tablets */
@media only screen and (min-device-width: 603px) and (max-device-width: 940px) {
  header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    background-image: url("/assets/gtaLogoGradientNewSmaller.png");
    background-size: 10rem;
    height: 10rem;
  }
  #flex-container-page {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  main {
    width: 80vw;
  }
  .progress-container {
    width: 80vw;
  }
  #quote-container {
    height: 10vh;
    width: 80vw;
  }
  #quote {
    font-size: 1rem;
  }
  .text-input {
    font-size: 0.7rem;
  }
  .text-input:focus {
    font-size: 0.8rem;
  }
  label {
    display: none;
  }
  #time-remaining {
    font-size: 1rem;
  }
  #input-field {
    height: 2.5rem;
    width: 80vw;
  }
  .super-container {
    width: 80vw;
  }
  .time-container {
    font-size: 0.8rem;
    width: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .shaped-time {
    height: 0.8rem;
    width: fit-content;
  }
  .restart-button,
  #next-button {
    font-size: 0.5rem;
  }
  .current-container {
    font-size: 0.5rem;
    height: 1.5rem;
    padding: 0.1rem 0.5rem;
    margin-top: 0.5rem;
    width: 3rem;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    text-align: center;
  }
  .statblock {
    margin: 1rem auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0.5rem 0.2rem;
    font-size: 0.5rem;
  }
  .user-stats {
    padding: 0.4rem;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 0.5rem;
  }
  .stat-inject {
    font-size: 0.5rem;
  }
  #user-vehicle {
    max-width: 100px;
    max-height: 100px;
  }
  label {
    font-size: 0.7rem;
  }
  .restart-button {
    display: none;
  }
  .car-images {
    width: 56px;
    height: 36px;
    animation: mobile-move-right 30s linear both;
  }
  .progress-container {
    margin-top: 0rem;
  }
}

/* ===============
=== ANIMATIONS ===
================*/
/* https://animista.net/ extremely helpful */

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate-and-scale {
  0% {
    transform: scale(1) rotateZ(0);
    -webkit-transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
    -webkit-transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
    -webkit-transform: scale(1) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate-and-scale {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
    -webkit-transform: translateX(900px);
  }
}
@-webkit-keyframes move-right {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(900px);
    -webkit-transform: translateX(900px);
  }
}
@keyframes mobile-move-right {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(350px);
    -webkit-transform: translateX(350px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  10% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  80% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  90% {
    -webkit-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}
